#accordion {
	width: 100%;
	border-top: 1px solid #dae1e6;

	.header {
		.link {
			display: block;
			position: relative;
			padding-right: 40px;
			min-height: 60px;
			display: flex;
			align-items: center;

			&:after {
				font-family: 'Font Awesome 5 Pro';
				position: absolute;
				height: 24px;
				width: 24px;
				top: 50%;
				margin-top: -12px;
				right: 20px;
				margin-right: -12px;
				line-height: 24px;
				text-align: center;
			}
			&:not([aria-expanded="true"]) {
				border-bottom: 1px solid #dae1e6;

				&:after {
					content: '\f067';
					color: #f2d33a;
				}

			}
			&[aria-expanded="true"] {
				&:after {
					content: '\f00d';
					border-radius: 50%;
					background-color: #f2d33a;
					color: #1e2529;
				}
			}
			.accordion-tab-title {
				font-weight: bold;
				font-size: 16px;
				color: #000;
				margin: 0;
			}
		}
	}
	.body {
		border-bottom: 1px solid #dae1e6;
		padding: 0 60px 30px 20px;
	}
}
