#article_hedline,
#article_hedline * {
  font-size: 24px;
  line-height: 1.13;
  letter-spacing: 0.9px;
  color: #d145a8;

  @include media-breakpoint-up(sm) {
    font-size: 46px;
  }
}

#article_hedline.question,
#article_hedline.question * {
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: 0.3px;
  color: #4a4a4a;
}

#article-any {
  @extend .clearfix;

  position: relative;
  border-radius: 8px;
  background-color: #fff;
  border: solid 1px #d8dde6;
  padding: 16px 24px;

  .tags-list {

  }
  #article_hedline {
    margin-bottom: 12px;
  }
  #article_hedline.question {
    margin-bottom: 16px;
  }
  .info_block-col {
    margin-bottom: 16px;
  }
  .article_thumbnail {
    max-width: 280px;
    margin-bottom: 24px;

    img {
      width: 100%;
      border-radius: 8px;
    }
  }
  #display_rating {
    display: inline-block;
    margin-bottom: 16px;
    margin-right: 9px;

    span {
      &:not(:last-of-type) {
        margin-right: 4px;
      }
    }
  }
  .rating_info {
    display: inline-block;

    * {
      font-size: 16px;
      letter-spacing: 0.4px;
      color: #4a4a4a;
    }
  }
  .share-col {
    margin-bottom: 16px;
  }
  .verdict_wrapper {
    border-radius: 4px;
    background-color: #fff;
    border: solid 1px #d8dde6;
    padding: 24px;
    margin-bottom: 24px;

    .mark-col {
      text-align: center;

      @include media-breakpoint-down(xs) {
        margin-bottom: 16px;
      }
    }
    .fa-check-circle {
      color: #7ed321;
      font-size: 48px;
    }
    .fa-exclamation-triangle {
      color: #c23934;
      font-size: 48px;
    }
    .verdict {
      font-size: 20px;
      font-weight: bold;
      line-height: 1.6;
      letter-spacing: 0.2px;
      color: #4a4a4a;

      .status {
        color: #c23934;
        font-weight: bold;

        &.positive {
          color: #7ed321;
        }
      }
    }
    .text {
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.2px;
      color: #4a4a4a;
      margin-bottom: 12px;
    }
    .price {
      margin-bottom: 12px;
    }
    .button_wrapper {
      @include media-breakpoint-down(xs) {
        text-align: center;
      }
      @include media-breakpoint-down(sm) {
        margin-bottom: 24px;
      }
    }
    .discount_coupon,
    .discount_text {
      max-width: 220px;
      margin: 0 auto;

      @include media-breakpoint-up(md) {
        margin: 0;
      }
    }
    .discount_coupon {
      border-radius: 4px;
      border: solid 2px #ffa726;
      padding: 8px 24px;
      margin-bottom: 16px;

      .title {
        font-size: 14px;
        letter-spacing: 0.1px;
        color: #54698d;
        text-transform: uppercase;
        margin-bottom: 4px;
        text-align: center;
      }
      .discount {
        font-size: 24px;
        letter-spacing: 0.2px;
        color: #ffa726;
        text-align: center;
      }
    }
    .discount_text {
      font-size: 12px;
      letter-spacing: 0.1px;
      text-align: center;
      color: #a8b7c7;
    }

    &.drugs {
      background-image: linear-gradient(252deg, rgba(0, 136, 255, 0), rgba(0, 112, 210, 0.2));

      .title {
        font-size: 16px;
        font-weight: bold;
        line-height: 1.6;
        letter-spacing: 0.2px;
        color: #9013fe;
        text-transform: uppercase;
        margin-bottom: 12px;

        @include media-breakpoint-up(sm) {
          font-size: 20px;
        }
      }
      .thumbnail-col {
        @include media-breakpoint-up(md) {
          padding-right: 0;
        }
        .article_thumbnail {
          @include media-breakpoint-up(md) {
            margin: 0;
          }
        }
      }
      .right-col {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .text {
          font-size: 16px;
          line-height: 1.5;
          letter-spacing: 0.2px;
          color: #4a4a4a;
        }
      }
    }
  }
  #chapters {
    border-radius: 8px;
    background-color: #f2f8ff;
    padding: 12px;
    margin-bottom: 24px;
    max-width: 340px;
    margin-left: 0;

    .item {
      line-height: 2;

      .item_link {
        display: inline-block;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.2px;
        color: #0070d2;
      }
    }
  }
  .text-col {
    @extend .clearfix;
  }
  .text-col,
  .text-col * {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.4px;
    text-align: left;
    color: #4a4a4a;

    p {
      margin-bottom: 24px;
    }
    h2 {
      font-size: 20px;
      line-height: 1.24;
      letter-spacing: 0.6px;

      @include media-breakpoint-up(sm) {
        font-size: 34px;
      }
    }
    h3 {
      font-size: 18px;
      line-height: 1.36;
      letter-spacing: 0.5px;

      @include media-breakpoint-up(sm) {
        font-size: 28px;
      }
    }
    h4 {
      font-size: 18px;
      line-height: 1.33;
      letter-spacing: 0.5px;

      @include media-breakpoint-up(sm) {
        font-size: 24px;
        font-weight: bold;
      }
    }
    h5 {
      font-size: 18px;
      line-height: 1.4;
      letter-spacing: 0.4px;

      @include media-breakpoint-up(sm) {
        font-size: 20px;
        font-weight: bold;
      }
    }
    blockqoute {
      position: relative;
      display: block;
      font-size: 18px;
      line-height: 1.5;
      color: #333;
      max-width: 440px;
      margin: 48px auto;
      padding: 0 36px;

      @include media-breakpoint-up(sm) {
        font-size: 24px;
        padding: 0 48px;
      }

      &:before {
        content: '“';
        position: absolute;
        display: inline-block;
        top: 0;
        left: 0;
        font-size: 48px;
        font-weight: 900;
        line-height: 1;
        transform: translateY(-10%);
      }
      &:after {
        content: '”';
        position: absolute;
        display: inline-block;
        bottom: 0;
        right: 0;
        font-size: 48px;
        font-weight: 900;
        line-height: 1;
        transform: translateY(70%);
      }
    }
    ul, ol {

    }
    .image_wrapper {
      text-align: center;
      background-color: #e8eef8;
      margin-bottom: 48px;
      border: 1px solid #e8eef8;

      .description {
        text-align: right;
        line-height: 32px;
        font-size: 12px;
        letter-spacing: 0.3px;
        color: #4a4a4a;
        margin-right: 12px;
      }
    }
  }
  .popularity-col {
    margin: 0;

    .item {
      border-top: solid 0.8px #e9e9e9;
      line-height: 50px;
      vertical-align: middle;
      font-size: 16px;
      color: #4a4a4a;
      padding: 0;

      img {
        margin-right: 4px;
      }
    }
  }
}

#article-pharmacy {
  .user-block {
    border-radius: 8px;
    background-color: #fff;
    border: solid 1px #d8dde6;
    padding: 24px 16px;
    margin-bottom: 24px;

    .user_thumbnail {
      display: inline-block;
      border-radius: 50%;
      overflow: hidden;
      margin-bottom: 16px;
    }
    .position {
      display: inline-block;
      font-size: 10px;
      line-height: 16px;
      height: 16px;
      letter-spacing: 0.4px;
      color: #fff;
      background-color: #ffa726;
      padding: 0 8px;
      border-radius: 4px;
      margin-bottom: 8px;
    }
    .name {
      display: inline-block;
      font-size: 36px;
      line-height: 1.11;
      letter-spacing: 0.6px;
      color: #3f3f3f;
      margin-bottom: 12px;

      .edit_link {
        display: inline-block;
        font-size: 12px;
        letter-spacing: 0.2px;
        color: #0070d2;
        vertical-align: middle;
        margin-left: 8px;
        &:hover {
          color: darken(#0070d2, 5%);
        }
      }
    }
    .information {
      margin-bottom: 24px;

      & > * {
        font-size: 14px;
        letter-spacing: 0.2px;
        color: #4a4a4a;

        &:not(:last-of-type) {
          &:after {
            content: ' · ';
          }
        }
        span {
          color: #a8b7c7;
        }
      }
    }
  }
  .tabs_btns {
    text-align: center;
    margin-bottom: 32px;

    .panel-list {
      display: inline-block;
    }
  }
  .questions {
    border-radius: 8px;
    background-color: #fff;
    border: solid 1px #d8dde6;
    padding: 0 24px;

    .row {
      &:not(:last-of-type) {
        border-bottom: solid 0.8px #e9e9e9;
      }
    }
  }
  .user-post {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.33;
    letter-spacing: 0.5px;
    color: #e2689a;
    margin-bottom: 16px;
    text-align: center;
  }
}
