.article-any {
  border-radius: 8px;
  background-color: #fff;
  border: solid 1px #d8dde6;
  border-top: none;
  padding: 0 16px 16px;
  margin-bottom: 32px;
  position: relative;

  @include media-breakpoint-up(sm) {
    border-top: solid 1px #d8dde6;
  }
  &:last-of-type {
    margin-bottom: 32px;
  }
  .content-row {
    margin-bottom: 16px;

    .tags-list {
      margin-top: 16px;
      margin-bottom: 12px;
    }
    .title-wr {
      .title {
        font-size: 24px;
        line-height: 1.33;
        letter-spacing: 0.3px;
        color: #4a4a4a;
        margin: 0 0 0.5rem 0;
      }
      &:hover .title {
        color: #2C2C2C;
      }
    }

    .thumbnail-col {
      padding: 0;
      margin-bottom: 16px;

      @include media-breakpoint-up(sm) {
        padding-left: 16px;
        margin-bottom: 0;
      }
      .article_image {
        width: 100%;
        height: auto;
        border-radius: 8px 8px 0 0;

        @include media-breakpoint-up(sm) {
          border-radius: 8px;
        }
      }
    }
    .title-col .info-block {
      display: flex;

      @include media-breakpoint-up(md) {
        display: none;
      }
    }
    .text-col .info-block {
      display: none;

      @include media-breakpoint-up(md) {
        display: flex;
      }
    }
    .info-block {
      margin-bottom: 12px;
    }
    .text {
      position: relative;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.2px;
      color: #4a4a4a;
      display: -webkit-box;
      -webkit-line-clamp: 6;
      -webkit-box-orient: vertical;
      overflow: hidden;
      max-height: calc(6 * 24px);

      @include media-breakpoint-up(sm) {
        -webkit-line-clamp: 5;
        max-height: calc(5 * 24px);
      }
      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 50%;
        width: 100%;
        background-image: linear-gradient(to top, #fff, rgba(255, 255, 255, 0));
      }
    }
  }
  .bottom-row {
    .item {
      padding-right: 0;

      img {
        margin-right: 4px;
      }
      .text {
        font-size: 14px;
        letter-spacing: 0.4px;
        color: #54698d;

        .description {
          @include media-breakpoint-down(sm) {
            display: none;
          }
        }
      }
    }
  }
}

.article-pharmacy {
  @extend .review_block;

  margin-bottom: 32px;
}

.banner {
  margin-bottom: 32px;

  img {
    width: 100%;
  }
}

.article-user {
  height: 110px;
  display: table-cell;
  vertical-align: middle;

  .top {
    font-size: 14px;
    letter-spacing: 0.2px;
    color: #4a4a4a;
    margin-bottom: 8px;
  }
  .info {
    display: flex;
    align-items: center;

    .user_thumbnail {
      width: 40px;
      height: 40px;
      margin-right: 8px;
      border-radius: 50%;
      overflow: hidden;

      img {
        width: 100%;
      }
    }
    .author {
      display: flex;
      align-items: center;
      margin-bottom: 8px;

      .name {
        font-size: 16px;
        letter-spacing: 0.2px;
        text-align: left;
        color: #3f3f3f;
        margin-right: 12px;
      }
      .position {
        font-size: 10px;
        line-height: 16px;
        height: 16px;
        letter-spacing: 0.4px;
        color: #fff;
        background-color: #ffa726;
        padding: 0 8px;
        border-radius: 4px;
      }
    }
    .information {
      & > * {
        font-size: 12px;
        letter-spacing: 0.2px;
        color: #4a4a4a;

        &:not(:last-of-type) {
          &:after {
            content: ' · ';
          }
        }
        span {
          color: #a8b7c7;
        }
      }
    }
  }
}

.article-comment {
  padding: 24px 0;

  .entry {
    font-size: 16px;
    letter-spacing: 0.2px;
    color: #4a4a4a;
    margin-bottom: 12px;

    .link {
      color: #0070d2;
      &:hover {
        color: darken(#0070d2, 5%);
      }
    }
  }
  .info-block {
    margin-bottom: 12px;
  }
  .comment_text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.2px;
    color: #4a4a4a;
  }
}

.article-empty {

  .empty-el-wr {
    width: 100%;
    text-align: center;
    .img-wr {
      margin-top: 54px;
    }

    .title_bot {
      display: inline-block;
      width: 100%;
      text-transform: uppercase;
      color: #e2689a;
      font-size: 24px;
      text-align: center;
      margin-top: 54px;
      margin-bottom: 24px;
      max-width: 427px;
      letter-spacing: 0.5px;
      line-height: 32px;
    }
    .button_wr {
      text-align: center;
    }
  }

}

.article-404 {
  padding: 48px 0;
  text-align: center;

  .content {
    margin-bottom: 20px;

    .text_404 {
      font-size: 120px;
      letter-spacing: 0.7px;
      font-weight: bold;
      color: #e2689a;

      @include media-breakpoint-up(lg) {
        font-size: 190px;
      }
    }
    .description {
      font-size: 24px;
      letter-spacing: 0.8px;
      font-weight: bold;
      color: #e2689a;

      @include media-breakpoint-up(lg) {
        font-size: 36px;
      }
    }
  }
  .text {
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.2px;
    max-width: 480px;
    margin: 0 auto 36px;

    @include media-breakpoint-up(lg) {
      margin: 0 auto 56px;
    }
  }
}

#articles.white {
  border-radius: 8px;
  background-color: #fff;
  border: solid 1px #d8dde6;
  padding: 0 24px;
  margin-bottom: 32px;

  .row {
    &:not(:last-of-type) {
      border-bottom: solid 0.8px #e9e9e9;
    }
  }
}
