.store-fixed {
  position: fixed;
  bottom: 0;
  background-color: #ffffff;
  width: 100%;
  box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.2);

  .store-btn{
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 16px;
    margin-top: 16px;
    width: 100%;
    padding: 0;
    max-width: 170px;
  }
  .store-price {
    .store-title-price {
      font-size: 12px;
      color: #54698d;
      text-align: right;
      line-height: 1;
      padding-bottom: 8px;
      letter-spacing: 0.2px;
    }
    .store-des-price {
      font-size: 20px;
      color: #0070d2;
      text-align: center;
      line-height: 1;
      margin-left: calc(100% - 120px);
    }
  }
  .store-coupon {

    .store-title-coupon {
      font-size: 12px;
      text-transform: uppercase;
      color: #54698d;
      text-align: right;
      line-height: 1;
      padding-bottom: 8px;
    }
    .store-des-coupon {
      font-size: 18px;
      text-transform: uppercase;
      color: #ffa726;
      text-align: center;
      line-height: 1;
      margin-left: calc(100% - 110px);
    }
  }
}

@include media-breakpoint-up( md ) {
  .store-fixed {
    display: none;
  }
}