// body.logged-in .open_favorites_menu.left{
.open_favorites_menu.left{
	.favorites_menu{
		left: 0;
	}
}

// body.logged-in .open_favorites_menu.right{
.open_favorites_menu.right{
	.favorites_menu{
		right: 0;
	}
}

// body.logged-in .open_favorites_menu {
.open_favorites_menu {
	position: relative;
	display: inline-block;

	.favorites_menu {
		display: none;
		z-index: 5;
		position: absolute;
		width: 352px;

		.content {
			margin-top: 11px;
			width: 100%;
			background-color: #fff;
			border: solid 1px #e0e5ee;
			box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.16);
			font-size: 12px;
			border-radius: 6px;

			.mnu_el {
				list-style: none;
				margin: 0;
				padding: 0;

				li{
					display: block;
					padding: 0 16px;
				}

				.mnu_top_wr {
					padding-top: 20px;
					padding-bottom: 12px;

					.top-wr-el {
						display: inline-block;
						align-items: center;
						justify-content: flex-start;

						.ico_wr {
							display: inline-block;
							float: left;
							margin-right: 8px;
							width: 16px;
							height: 16px;
							border: 1px solid #e0e5ee;
							border-radius: 4px;
							text-align: center;
							i{
								display: inline-block;
								font-size: 10px;
								margin-top: 2px;
								color: #0070d2;
							}
						}
						.top_title{
							float: left;
							line-height: 16px;
						}
					}
				}

				.mnu_text_wr{
					line-height: 1.33;
				}

				.mnu_line{
					padding: 0 0;
					margin: 10px 0;
					border-bottom: 1px solid #d8dde6;
				}

				.mnu_bot_wr{
					padding-bottom: 8px;
					.bot_title{
						display: inline-block;
					}
					.bot_number{
						display: inline-block;
					}
				}
			}
		}
	}

	.item_link {

		&:before,
		&:after {
			content: '';
			position: absolute;
			border-style: solid;
			left: 50%;
			transform: translateX(-50%);
			display: none;
		}
		&:before {
			z-index: 6;
			border-color: transparent transparent #fff;
			border-width: 9px;
			top: calc(100% - 5px);
		}
		&:after {
			z-index: 5;
			border-color: transparent transparent rgba(0, 0, 0, 0.05);
			border-width: 13px;
			top: calc(100% - 11px);
		}
	}
	&:hover {
		@include media-breakpoint-up( sm ) {
			.favorites_menu{
				display: block;
			}
			.item_link {
				&:before,
				&:after {
					display: block;
				}
			}
		}
	}
}
