@mixin mobile_main_menu() {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	background-color: #fff;
	z-index: 2;
	border-bottom: 1px solid rgba(0, 0, 0, 0.16);
	border-radius: 0 0 5px 5px;

	#main_menu {
		padding: 24px 28px 12px;

		a {
			font-size: 14px;
			color: #0070d2;
			display: block;
			// height: 28px;
			line-height: 28px;
			vertical-align: middle;
			padding-left: 16px;
		}
		& > a {
			text-transform: uppercase;
			font-size: 12px;
		}
		.menu-item {
			&.active {
				& > a {
					background-color: #f0f8fc;
					border-left: 4px solid #0070d2;
					color: #0070d2;
				}
				& > .sub-menu-wrap {
					margin-left: 20px;

					& > .sub-menu > .menu-item > a {
						position: relative;
						padding-left: 10px;

						&:after {
							content: '•';
							position: absolute;
							top: 0;
							left: 0;
							height: 28px;
							line-height: 28px;
							vertical-align: middle;
							font-size: 12px;
						}
					}
				}
			}
		}
	}
}

@mixin desktop_main_menu() {
	display: block;
	height: 100%;

	#main_menu {
		display: flex;
		justify-content: flex-end;
		height: 100%;
		.current-menu-item,
		.current-menu-ancestor {

			a {
				position: relative;

				.effect {
					position: absolute;
					top: -25px;
					left: 0;
					width: 100%;
					height: 8px;
					background-color: #0070d2;
				}
			}
		}

		& > .menu-item {
			display: flex;
			align-items: center;

			& > a:hover {
				color: #0062b8;
			}

			&:not(:last-of-type) {
				margin-right: 12px;
			}
			&.active {
				& > a {
					position: relative;

					&:before,
					&:after {
						content: '';
						position: absolute;
						border-style: solid;
					}
					&:before {
						z-index: 5;
						border-color: transparent transparent #fff;
						border-width: 9px;
						top: calc(100% + 6px);
						left: calc(50% + 4px);
					}
					&:after {
						z-index: 0;
						border-color: transparent transparent rgba(0, 0, 0, 0.05);
						border-width: 13px;
						top: 100%;
						left: 50%;
					}
				}
			}
			a, span {
				font-size: 16px;
				color: #0070d2;
				cursor: pointer;
			}
			& > a {
				text-transform: uppercase;
				font-size: 14px;
			}
			.first_level_menu {
				position: absolute;
				top: 100%;
				left: 0;
				width: 100%;
				background-color: #fff;
				box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.16);
				z-index: 4;
				border-radius: 5px;
				padding: 16px;

				a, span {
					display: block;
					// height: 32px;
					line-height: 32px;
					vertical-align: middle;
					padding-left: 20px;
				}
				.menu-item {
					&.active {
						& > a, & > span {
							background-color: #f0f8fc;
							border-left: 4px solid #0070d2;
							color: #0070d2;
						}
						& > .sub-menu-wrap {
							margin-left: 20px;

							& > .sub-menu > .menu-item > a,
							& > .sub-menu > .menu-item > span {
								position: relative;
								padding-left: 10px;

								&:after {
									content: '•';
									position: absolute;
									top: 0;
									left: 0;
									height: 32px;
									line-height: 32px;
									vertical-align: middle;
									font-size: 12px;
								}
							}
						}
					}
				}
			}
		}
	}
}

#main_menu_wrapper {
	ul {
		@extend .list-unstyled;

		margin: 0;
	}
	li {
		padding: 0;
	}
	.sub-menu-wrap {
		&:not(.show) {
			display: none;
		}
		&.show,
		&.second_level_menu,
		&.third_level_menu {
			display: block;
		}
	}

	&:not(.mobile):not(.desktop) {
		@include media-breakpoint-down(md) {
			@include mobile_main_menu();
		}
		@include media-breakpoint-up(lg) {
			@include desktop_main_menu();
		}
	}
	.mobile {
		@include mobile_main_menu();
	}
	.desktop {
		@include desktop_main_menu();
	}
}
