#pagination_navigation {
	display: flex;
	justify-content: center;

	.navigation_item {
		a, span {
			@extend .btn_styles;

			line-height: 27px;
			vertical-align: middle;
			background-color: #fff;
		  font-size: 12px;
		  letter-spacing: 0.2px;
		  color: #4a4a4a;
		  padding: 0 12px;

		  @include media-breakpoint-up(sm) {
		  	line-height: 48px;
		  	padding: 0 24px;
		  	font-size: 16px;
		  }
		  i {
		  	color: #4a4a4a;
		  }
		}
		&.prev,
		&.next {
			a, span {
	  		font-size: 15px;

			  @include media-breakpoint-up(sm) {
			  	font-size: 20px;
			  }
			}
		}
		&:first-of-type {
			a, span {
				border-radius: 4px 0 0 4px;
				border: solid 1px #d8dde6;
			}
		}
		&:not(:first-of-type) {
			a, span {
				border: solid 1px #d8dde6;
				border-left: none;
			}
		}
		&:last-of-type {
			a, span {
				border-radius: 0 4px 4px 0;
			}
		}
		&.first,
		&.prev,
		&.next,
		&.last {
			a, span {
				i {
					color: #0070d2;
				}
			}
			&.disable {
				a, span {
					i {
						color: #a8b7c7;
					}
				}
			}
		}
		&.current{
			a, span {
				// position: absolute;
				transform: scale(1.15);
				background-color: #0070d2;
				color: #fff;
				border-radius: 4px;

				i {
					color: #fff;
				}
			}
		}
		&:not(.disable):not(.current):not(.dots):hover {
			a, span {
				// position: absolute;
				background-color: #F2F2F2;
				color: #2C2C2C;
				i {
					color: #0062B8;
				}
			}
		}
	}
}
