.question_menu_link {
	position: absolute;
	top: 16px;
	right: 16px;
	z-index: 1;

	i {
		color: rgba(0, 0, 0, 0.38);
		font-size: 14px;
	}
}
.question_menu {
	position: absolute;
	top: 10px;
	right: 24px;
  border-radius: 5px;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.16);
  background-color: #fff;
  border: solid 1px #e0e5ee;
  z-index: 1;

	.item {
  	&:not(:last-of-type) {
	    border-bottom: solid 1px #d8dde6;
  	}
	  .item_link {
	  	display: block;
	  	line-height: 31px;
	  	padding: 0 16px;
		  font-size: 12px;
		  letter-spacing: 0.2px;

	  	&:hover {
	  		color: #d0021b;
	  	}
	  }
	}
}
