.custom_searchform {

	.search-form {
		position: relative;

		&:before {
			content: '\f002';
			font-family: 'Font Awesome 5 pro';
			position: absolute;
			top: 0;
			left: 12px;
			height: 100%;
			line-height: 32px;
			vertical-align: middle;
			font-size: 14px;
			color: #a8b7c7;
		}
		&:focus {
			&:before {
				color: #4a4a4a;
			}
		}
		label {
			width: 100%;
			margin-bottom: 0;

			input[type="search"] {
			  width: 100%;
			  height: 32px;
			  border-radius: 4px;
			  background-color: #fff;
			  border: solid 1px #d8dde6;
			  padding: 0 8px 0 36px;
			  color: #4a4a4a;
			  font-size: 12px;

			  &:focus {
			  	outline: none;
			  }
			}
		}
		.screen-reader-text,
		input[type="submit"] {
			display: none;
		}
		.clear {
			display: none;
			position: absolute;
			top: 0;
			right: 8px;
			height: 100%;
			line-height: 32px;
			cursor: pointer;
			z-index: 1;
		}

		&.focus {
			&:before {
				color: #4a4a4a;
			}
			.clear {
				display: block;

				&:before {
					color: #4a4a4a;
					content: '\f057';
					font-family: 'Font Awesome 5 pro';
					font-size: 12px;
					font-weight: 900;
				}
			}
			input[type="search"] {
			  padding: 0 24px 0 36px;
			}
		}
	}
}
