#social_networks {
	margin: 0;

	li {
		float: left;

		&:not(:last-of-type) {
			margin-right: 30px;
		}
		.link {
			font-size: 15px;

			.fab {
				color: #8f9aa1;
			}
			&:hover {
				.fab {
					color: darken(#8f9aa1, 10%);
				}
			}
		}
	}
}
