@import 'components/widgets/top_categories_widget';
@import 'components/widgets/top_users_widget';
@import 'components/widgets/top_reviews_drugs_widget';
@import 'components/widgets/top_pharmacies_widget';
@import 'components/widgets/relevant_drugs_widget';
@import 'components/widgets/related_questions_widget';
@import 'components/widgets/liability_disclaimer_widget';
@import 'components/widgets/content_banner_widget';
@import 'components/widgets/interacting_drugs';

.sidebar-col {
  .widget {
    &:not(:last-of-type) {
      margin-bottom: 36px;
    }
    .widget_title {
      font-size: 24px;
      font-weight: bold;
      line-height: 1.33;
      letter-spacing: 0.5px;
      color: #e2689a;
      margin-bottom: 16px;

      span {
        font-size: 20px;
        line-height: 1.6;
        letter-spacing: 6.8px;
        font-weight: bold;
        color: #e2689a;
      }
    }
    .more_link {
      font-size: 16px;
      line-height: 1.25;
      color: #0070d2;
      i {
        margin-left: 4px;
        color: #0070d2;
        font-size: 12px;
      }
      &:hover, &:hover i {
        color: #0062b8;
      }
    }
  }
}

.widget.widget_top_pharmacies {
  .widget_title {
    text-align: center;
    font-size: 36px;
    line-height: 0.89;
    letter-spacing: 0.8px;
  }
}

.widgets-col {
  margin-top: 8px;
  margin-bottom: 28px;

  .widget {
    &:not(:last-of-type) {
      margin-bottom: 36px;
    }
    .widget_title {
      font-size: 24px;
      font-weight: bold;
      line-height: 1.33;
      letter-spacing: 0.5px;
      color: #e2689a;
      margin-bottom: 16px;
    }
  }
}

.home .widgets-col {
  margin-top: 0;
  margin-bottom: 32px;
}
