.content-settings {
  &.email_notification {
		border-radius: 8px;
		background-color: #fff;
		border: solid 1px #d8dde6;
		padding: 16px 16px 24px;

		.page_title {
			font-size: 18px;
			font-weight: bold;
			line-height: 1.78;
			letter-spacing: 0.4px;
			color: #e2689a;
			text-transform: uppercase;
			margin-bottom: 12px;
		}
		.option {
			margin-bottom: 24px;

			&:last-of-type {
				margin-bottom: 40px;
			}
			label {
				margin-bottom: 12px;
			  font-size: 16px;
			  letter-spacing: 0.3px;
			  color: #4a4a4a;
			}
			.description {
			  font-size: 12px;
			  line-height: 1.67;
			  letter-spacing: 0.2px;
			  color: #4a4a4a;
			  padding-left: 32px;
			}
			.radio_btns {
				margin-top: 12px;
				padding-left: 32px;
			}
		}
		.blue_btn {
			width: 210px;
			max-width: 100%;
		}
  }
}
