.content-settings {
	&.notifications {

		.events {
			border-radius: 8px;
			background-color: #fff;
			border: solid 1px #d8dde6;
			padding: 16px 16px 0;
			margin-bottom: 36px;

			.page_title {
				font-size: 18px;
				font-weight: bold;
				line-height: 1.78;
				letter-spacing: 0.4px;
				color: #e2689a;
				text-transform: uppercase;
				margin-bottom: 12px;
			}
			.title-wr{
				display: flex;
				width: 100%;
				align-items: center;
				justify-content: space-between;
				.page_title{
					margin-bottom: 0;
					padding-bottom: 0;
				}

				.marked_all_link{
					color: #0070d2;
					font-size: 12px;
				}
			}

			.content {
				.row {
					.notification-item {
						border-bottom: 1px solid #e9e9e9;
					}
					&:last-child .notification-item {
						border-bottom: 1px solid #fff;
					}
				}

				.notification-item {
					display: inline-block;
					width: 100%;
					background-color: #fff;
					color: #0070d2;
					padding: 8px;

					&.unreaded{
						background-color: #f2f8ff;
					}
					.item_wr{
						display: flex;
						align-items: stretch;
						.user_photo{
							padding-right: 8px;
							.user_thumbnail{
								width: 24px;
								height: 24px;
								border-radius: 50%;
								overflow: hidden;
							}
						}

						.user_message{
							line-height: 1.33;
							padding-top: 2px;
							.user_name_link{
								font-weight: bold;
								letter-spacing: 0.2px;
								font-size: 16px;
							}
							.q_type{
								margin-left: 2px;
								font-size: 16px;
							}
							.q_title{
								margin-left: 2px;
								color: #0070d2;
							}
							.q_date{
								margin-left: 2px;
								color: #a8b7c7;
							}
						}
					}
				}
			}
		}
	}
}

