.content-settings {
	&.following, &.followers {
		.content {
			border-radius: 8px;
			background-color: #fff;
			border: solid 1px #d8dde6;
			padding: 16px 16px 8px;
			margin-bottom: 36px;

			.page_title {
				font-size: 18px;
				font-weight: bold;
				line-height: 1.78;
				letter-spacing: 0.4px;
				color: #e2689a;
				text-transform: uppercase;
				margin-bottom: 12px;
			}
			.open_favorites_menu{
				width: 100%;
			}
			.item-col{
				margin-bottom: 16px;
				.item{
					cursor: pointer;
					display: flex;
					align-items: center;
					width: 100%;
					background-color: #fff;
					&:hover .favorites_small_button.remove_user_from_favorites_link{
						visibility: visible;
					}
					&:hover .user_name{
						font-weight: bold;
					}
					.item_link{
						display: flex;
						align-items: center;
						justify-content: flex-start;
						width: 100%;
						.user_thumbnail{
							overflow: hidden;
							border-radius: 50%;
							width: 24px;
							height: 24px;
							margin-right: 8px;
						}
						.user_name{
							max-width: 120px;
							font-size: 14px;
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
							letter-spacing: 0.2px;
						}
					}

					.favorites_small_button.add_user_to_favorites_link,
					.favorites_small_button.remove_user_from_favorites_link{
						margin-left: 10px;

						.ico_wr {
							display: flex;
							align-items: center;
							justify-content: center;
							width: 16px;
							height: 16px;
							border: 1px solid #e0e5ee;
							border-radius: 4px;
							text-align: center;
							i{
								font-size: 10px;
								color: #0070d2;
							}
						}
					}

					@include media-breakpoint-down( sm ) {
						.favorites_small_button.remove_user_from_favorites_link,
						.favorites_small_button.add_user_to_favorites_link{
							visibility: visible;
						}
					}
				}
			}
		}
	}
}
.content-settings {
	&.following {
		.content {
			.favorites_small_button.remove_user_from_favorites_link {
				visibility: hidden;
			}
		}
	}
}
.content-settings {
	&.followers {
		.content {
			.favorites_small_button.remove_user_from_favorites_link {
				visibility: visible;
			}
		}
	}
}

