.sidebar-settings {

	#settings_menu {
		.menu-item.current-menu-item > a {
			border-left: 5px solid #0070d2;
			padding-left: 11px;
			display: inline-block;
			line-height: 32px;
		}
		.menu-item:first-of-type a {
			line-height: 32px;
		}

		& > .menu-item {
			&:not(:last-of-type) {
				margin-bottom: 32px;
			}
			& > a,
			& > span {
				font-size: 16px;
				font-weight: bold;
				letter-spacing: 0.2px;
				color: #0070d2;
				padding-left: 16px;

			}
			& > span {
				display: inline-block;
				margin-bottom: 8px;
			}
		}
		.sub-menu {
			@extend .list-unstyled;

			.menu-item a {
				display: inline-block;
				line-height: 32px;
				padding-left: 16px;
				font-size: 16px;
				letter-spacing: 0.2px;
				color: #0070d2;
			}
			.current-menu-item a {
				border-left: 5px solid #0070d2;
				padding-left: 11px;
			}
		}
	}
}
// .content-settings {
// 	border-radius: 8px;
// 	background-color: #fff;
// 	border: solid 1px #d8dde6;
// 	padding: 16px 16px 24px;

// 	.page_title {
// 		font-size: 18px;
// 		font-weight: bold;
// 		line-height: 1.78;
// 		letter-spacing: 0.4px;
// 		color: #e2689a;
// 		text-transform: uppercase;
// 		margin-bottom: 12px;
// 	}
// }
