.fancybox-content#login_popup {
	max-width: 100%;
  width: 690px;
  padding: 20px 16px 42px;

	.title {
	  font-size: 24px;
	  font-weight: bold;
	  letter-spacing: 0.5px;
	  text-align: center;
	  color: #e2689a;
	  text-transform: uppercase;
	  margin-bottom: 36px;
	}
	#ajax_login {
		width: 450px;
		max-width: 100%;
		margin: 0 auto;

		.google_btn,
		.facebook_btn {
		  margin-bottom: 12px;
		}
		.or-col {
			text-align: center;
			margin-bottom: 12px;
			color: #4a4a4a;
		}
		.input-col {
			margin-bottom: 16px;

			&.last {
				margin-bottom: 64px;
			}
		}
		.login_btn {
			@extend .blue_btn;

			width: 210px;
			max-width: 100%;
			margin-bottom: 36px;
		}
		.link-col {
			&:not(:last-of-type) {
				margin-bottom: 32px;
			}

			.link {
			  font-size: 14px;
			  line-height: 1.14;
			  color: #0070d2;
			}
		}
	}

}
