.fancybox-content#new_password_popup {
	max-width: 100%;
  width: 690px;
  padding: 20px 16px 42px;

	.title {
	  font-size: 24px;
	  font-weight: bold;
	  letter-spacing: 0.5px;
	  text-align: center;
	  color: #e2689a;
	  text-transform: uppercase;
	  margin-bottom: 36px;
	}
	#ajax_new_password {
		width: 450px;
		max-width: 100%;
		margin: 0 auto;

		.input-col {
			margin-bottom: 16px;

			&.last {
				margin-bottom: 64px;
			}
		}
		.new_password_btn {
			@extend .blue_btn;

			width: 210px;
			max-width: 100%;
		}
		.message {
			padding-top: 24px;
		  font-size: 16px;
		  line-height: normal;
		  letter-spacing: 0.3px;
		  text-align: center;
		  color: #e2689a;
		  max-width: 280px;
		  margin: 0 auto;
		}
	}

}
