.fancybox-content#question_editor_popup {
	max-width: 100%;
  width: 690px;

	.title {
	  font-size: 24px;
	  font-weight: bold;
	  line-height: 1.33;
	  letter-spacing: 0.5px;
	  color: #e2689a;
	  text-transform: uppercase;
	  margin-bottom: 28px;
	}
	.input-col {
	  margin-bottom: 16px;

	  .search {
  		border: none;
  		box-shadow: none;
	  }
	}
	.multiselect {
		margin-bottom: 8px;
	}
	.description {
	  font-size: 14px;
	  color: #e2689a;
	}
	.button-col {
		text-align: right;

		.description {
			margin-right: 16px;
		}
	}
}

.fancybox-content#question_editor_success_popup {
	vertical-align: top;
  height: 40px;
  border-radius: 4px;
  background-color: #04844b;
  padding: 8px 16px 12px;
  width: 270px;
  max-width: 100%;
  overflow: visible;

  .fancybox-close-small {
  	padding: 0;
  	height: 40px;
  	width: 40px;
		font-size: 20px;

		i {
			color: #fff;
		}
  }
	.mark-col {
		padding: 0 16px 0 0;

		i {
			color: #fff;
			font-size: 24px;
		}
	}
  .text-col {
	  font-size: 12px;
	  line-height: 1.67;
	  letter-spacing: 0.2px;
	  color: #fafafa;
	  padding: 0 16px 0 0;
  }
}
