.fancybox-content#remove_question_popup {
	max-width: 100%;
  width: 690px;
  max-height: 100%;
  height: 530px;
  padding: 20px 16px 36px;

	.title {
	  font-size: 24px;
	  font-weight: bold;
	  letter-spacing: 0.5px;
	  text-align: center;
	  color: #e2689a;
	  text-transform: uppercase;
	  margin-bottom: 36px;
	}
	.text {
		max-width: 320px;
		margin: 0 auto 64px;
		line-height: normal;
	  font-size: 16px;
	  letter-spacing: 0.3px;
	  text-align: center;
	  color: #4a4a4a;
	}
	.remove_question_btn {
		@extend .blue_btn;

		width: 150px;
		padding: 0 16px;
		max-width: 100%;
	}
	.message {
		padding-top: 24px;
	  font-size: 16px;
	  line-height: normal;
	  letter-spacing: 0.3px;
	  text-align: center;
	  color: #e2689a;
	  max-width: 280px;
	  margin: 0 auto;
	}
}
