#top_categories {
	margin-bottom: 16px;

	.item {
		&:not(:last-of-type) {
			margin-bottom: 6px;
		}
		.item_link {
			@extend .btn_styles;

		  line-height: 24px;
		  height: 24px;
		  border-radius: 4px;
		  background-color: #fff;
		  border: solid 1px #d8dde6;
		  font-size: 14px;
		  letter-spacing: 0.5px;
		  color: #4a4a4a;
		  padding: 0 8px;
			&:hover{
				background-color: #f2f2f2;
			}
		}
	}
}
